<%= render 'shared/leaving_site' %>
<div class='row'>
  <div class='col col-sm-12 col-md-8 col-lg-8 center'>
    <div class='panel'>
      <div class='panel-body'>
        <%= form_for( resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } ) do |f| %>
          <%= devise_error_messages! %>
            <div class='col col-sm-12 col-md-6 col-lg-6'>
              <div class='field'>
                <%= f.label :first_name %>
                <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
              </div>
              <div class='field'>
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: 'form-control' %>
              </div>
              <div class='field'>
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class='field'>
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
              </div>
              <div class='field'>
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
              </div>
              <div class='field'>
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control' %>
              </div>
              <div class='actions'>
                <%= f.submit 'Update', class: 'btn btn-primary btn-block' %>
                  <a data-toggle='modal' data-target='#leaving_account'>
                    Deactivate Account?
                  </a>
              </div>
            </div>
            <div class='col col-sm-12 col-md-6 col-lg-4 padding_top'>
              <div>
                <%= image_tag show_image(current_user.image), class: 'profile_pic' %>
              </div>
              <% if resource.image %>
                <div class='field'>
                  <%= f.fields_for :image, resource.image do |image_form| %>
                    <%= image_form.file_field :image %>
                  <% end %>
                </div>
              <% else %>
                <div class='field'>
                  <%= f.label :Image %>
                  <%= f.fields_for :image, Image.new do |image_form| %>
                    <%= image_form.file_field :image, class: 'form-control' %>
                  <% end %>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
