<p id='notice'><%= notice %></p>
<ul class='photo-grid'>
  <% @movies.each do |movie| %>
    <li>
      <%= link_to(movie) do %>
        <figure>
          <%= image_tag show_image(movie.images.first) if movie.images.present? %>
          <figcaption>
            <p>
              <%= movie.name %>
            </p>
          </figcaption>
        </figure>
      <% end %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Movie', new_movie_path %>
