<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table>
  <thead>
    <tr>
      <th>Poster</th>
      <th>Name</th>
      <th>Date of release</th>
      <th>Is featured</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Trailer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= image_tag movie.images.first.image.url(:medium) if movie.images.present? %></td>
        <td><%= movie.name %></td>
        <td><%= movie.released_date %></td>
        <td><%= movie.is_featured %></td>
        <td><%= raw(movie.description) %></td>
        <td><%= movie.duration %></td>
        <!-- <td><%= movie.embeded_url %></td> -->
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
