<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Date of release:</strong>
  <%= @movie.released_date %>
</p>

<p>
  <strong>Is featured:</strong>
  <%= @movie.is_featured %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw(@movie.description) %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= @movie.embeded_url %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
