<%= render 'movie_trailer', movie: @movie %>
<div class='row'>
  <div class='col col-sm-6 col-md-5 col-lg-4 col-lg-offset-2 padding-top'>
    <div class='row'>
      <%= image_tag show_image(@movie.images.first) %>
    </div>
    <% if user_signed_in? %>
      <div class='row'>
        <%= render 'ratings/form', user_rating: @user_rating %>
      </div>
    <% end %>
  </div>
  <div class='col col-sm-6 col-md-5 col-lg-4 font-white'>
    <div class='row'>
      <div>
        <table class='font-size'>
          <tr>
            <th>Title</th>
            <td><%= @movie.name.titleize %></td>
          </tr>
          <tr>
            <th>Released Date</th>
            <td><%= @movie.released_date.to_formatted_s(:rfc822) %></td>
          </tr>
          <tr>
            <th>Duration</th>
            <td><%= @movie.duration %></td>
          </tr>
          <tr>
            <th>Genre</th>
            <td><%= @movie.genre %></td>
          </tr>
          <% if @avg_rating %>
            <tr>
              <th>Rating </th>
              <td><div class='star-rating' data-score=<%= @avg_rating %> ></div></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class='row '>
      <%= link_to 'Watch Trailer', '#', 'data-toggle' => 'modal', 'data-target' => '#movie_trailer', class: 'btn btn-success btn-block' %>
    </div>
    <% if user_signed_in? %>
      <div class='row padding-top'>
        <% if @favorite.blank? %>
          <%= link_to 'Add to favorites', movie_favorite_movies_path(movie_id: @movie), method: :post, remote: true, class: 'btn btn-primary btn-block' %>
        <% else %>
          <%= link_to 'Remove from favorites', movie_favorite_movie_path(@movie, @favorite), method: :delete, remote: true, class: 'btn btn-danger btn-block' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<hr>
<div class='row font-white'>
  <div class='col col-sm-6 col-md-5 col-lg-4 col-lg-offset-2'>
    <h1>Description</h1>
    <p>
      <%= raw(@movie.description) %>
    </p>
  </div>
  <div class='col col-sm-6 col-md-5 col-lg-4'>
    <div class='row'>
      <%= render 'image_slider', movie: @movie %>
    </div>
    <div class='row'>
      <div class='col col-sm-6 col-md-5 col-lg-4'>
        <h3>Cast</h3>
      </div>
      <div class='col col-sm-6 col-md-5 col-lg-4'>
        <h3><%= @movie_actors %></h3>
      </div>
    </div>
  </div>
</div>
<div class='row font-white'>
  <div class='col col-sm-6 col-md-5 col-lg-4 col-lg-offset-2'>
    <h1>Review</h1>
  </div>
</div>
<div class='row font-white'>
  <%= render partial: 'reviews/form', locals: {remote_form: true} %>
</div>
<div class='row font-white'>
  <div id='reviews'>
    <% if @reviews.blank? %>
      <h3>No review for this movie yet.</h3>
    <% else %>
      <%= render partial: 'review', collection: @reviews %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', movies_path %>
<% content_for :js_init do %>
  CustomRaty.init();
<% end %>
