<div class='modal fade bs-example-modal-lg' id='search-modal' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content radius-none'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title align-center '>Search Movies</h4>
      </div>

      <div class='container-fluid'>
        <%= form_tag movies_path, method: :get, class: 'form-horizontal' do %>
          <div class='row padding-top'>
            <%= text_field_tag name = 'search[text]', set_param_value(:text), class: 'form-control radius-none input-group-lg search-field', placeholder: 'Search Movies Here' %>
          </div>

          <div class='well radius-none margin-top-40'>
            <div class='row'>
              <div class='col col-lg-6 col-md-6 col-sm-6'>
                <label>Genre</label>
                <%= select_tag name = 'search[genre]', options_for_select(collection_for_movie_genre, set_param_value(:genre)), include_blank: 'Please Select Genre', class: 'form-control radius-none' %>
              </div>

              <div class='col col-lg-6 col-md-6 col-sm-6'>
                <label>Actors</label>
                <%= text_field_tag name = 'search[actor]', set_param_value(:actor), class: 'form-control radius-none', placeholder: 'Search Actor Here' %>
              </div>
            </div>

            <div class='row'>
              <div class='col col-lg-6 col-md-6 col-sm-6'>
                <label>Start Date</label>
                <%= date_field_tag name = 'search[start_date]', set_param_value(:start_date), class: 'form-control radius-none', placeholder: 'Search By Start Date' %>
              </div>

              <div class='col col-lg-6 col-md-6 col-sm-6'>
                <label>End Date</label>
                <%= date_field_tag name = 'search[end_date]', set_param_value(:end_date), class: 'form-control radius-none', placeholder: 'Search By End' %>
              </div>
            </div>
          </div>

          <div class='row '>
            <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block btn-lg paddinng-top radius-none') do %>
              <span class='glyphicon glyphicon-search padding-right-10' aria-hidden='true'></span>Search
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
