<div class='row font-white'>
  <div class='col col-sm-2 col-md-2 col-lg-2 col-lg-offset-4 padding-top'>
    <%= image_tag 'icon.png', class: 'img-thumbnail icon-pic' %>
  </div>
</div>
<div class='row'>
  <div class='col col-sm-7 col-md-4 col-lg-4 center font-white'>
    <% if user_signed_in? %>
      <h1>Welcome <%= current_user.first_name %></h1>
    <% else %>
      <div class='row'>
        <div class='col col-sm-12 col-md-12 col-lg-6'>
          <%= link_to 'Log in', user_session_path, class:'btn btn-primary btn-lg btn-block white_text radius-none vertical-padding-zero' %>
        </div>
        <div class='col col-sm-12 col-md-12 col-lg-6'>
          <%= link_to 'Create a new Account', new_user_registration_path, { class:'btn btn-success btn-block white_text radius-none btn-lg vertical-padding-zero' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class='padding-top'>
  <%= image_tag 'featured.png', class: 'img-thumbnail icon-pic home-icon' %>
</div>
<%= link_to 'View More', movies_path(featured: true), class: 'font-white pull-right' %>
<hr>
<div class='row home-page-division'>
  <div class='row'>
    <%= render 'movies/movie_list', movies: @featured_movies %>
  </div>
</div>
<div class='padding-top'>
  <%= image_tag 'latest.png', class: 'img-thumbnail icon-pic home-icon' %>
</div>
<%= link_to 'View More', movies_path(latest: true), class: 'font-white pull-right' %>
<hr>
<div class='row home-page-division'>
  <div class='row'>
    <%= render 'movies/movie_list', movies: @latest_movies %>
  </div>
</div>
