<!DOCTYPE html>
<html>
  <head>
    <title>Movie Rated</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='black-background'>
      <%= render 'layouts/header'%>
      <%= render 'layouts/alert'%>

      <div class='container'>
        <%= yield %>
      </div>

      <%= render 'layouts/footer'%>

    </div>
    <script type="text/javascript">
      $(function() {
        <%= yield :js_init %>
      });
    </script>
  </body>
</html>
